{% extends 'base.html.twig' %}

{% block title %}New Cartes{% endblock %}

{% block body %}
    <h1>Create new Cartes</h1>

    {{ include('cartes/_form.html.twig') }}

    <a href="{{ path('app_cartes_index') }}">back to list</a>
{% endblock %}
