{{ form_start(formColonne) }}
    <div class="form-group">
        {{ form_row(formColonne.titre) }}
    </div>
    <div class="form-group"style="margin-top: 20px;">
        {{ form_row(formColonne.submit) }}
    </div>
{{ form_end(formColonne) }}
